<div class="center_box">
  <div class="wrapper">
    <h1>クエストクリア！！</h1>
    <h2>おめでとう！！</h2>
  
    <div class="buttons">
      <%= link_to("次へ", "/question", {class: "simplebutton"}) %>
    </div>
  </div>
</div>