<div class="wrapper">
  <h1>編集</h1>
  <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <div class="form">
      <h2>ユーザー名</h2>
      <input name="name" value="<%= @user.name %>" class="textbox">
      <h2>メールアドレス</h2>
      <input name="email" value="<%= @user.email %>" class="textbox">
      <h2>ユーザーアイコン</h2>
      <input name="image" type="file">
      <div class="buttons">
        <%= link_to("キャンセル", "./", {class: "simplebutton"}) %>
        <input type="submit" value="保存" class="simplebutton">
      </div>
    </div>
  <% end %>
</div>