<div class="wrapper">
  <h1>Qwalk</h1>
  <p>自分だけのリアル謎解きゲームを作ろう</p>

  <!-- オーバーレイ -->
  <div id="overlay" class="overlay"></div>
  <!-- モーダルウィンドウ -->
  <div class="modal-window" data-id="modal1">
    <h2>新規登録</h2>
    <div class="modal-bottons">
      <button class="js-close simplebutton">Close</button>
      <button class="simplebutton">登録</button>
    </div>
  </div>
  <div class="modal-window" data-id="modal2">
    <h2>サインイン</h2>
    <div class="modal-bottons">
      <button class="js-close simplebutton">Close</button>
      <button class="simplebutton">サインイン</button>
    </div>
  </div>
  <!-- モーダルを開くボタン -->
  <div class="top-buttons">
    <button class="js-open simplebutton" data-id="1">新規登録</button>
    <button class="js-open simplebutton" data-id="2">ログイン</button>
  </div>
</div>

<script>
  $(function () {
    $('.js-open').click(function () {
      var id = $(this).data('id'); // 何番目のモーダルウィンドウか
      $('#overlay, .modal-window[data-id="modal' + id + '"]').fadeIn();
    });

    $('.js-close, #overlay').click(function () {
      $('#overlay, .modal-window').fadeOut();
    });
  });
</script>
