<div class="wrapper">
  <h1>クエストを探す</h1>
  <ul class="simple-list">
    <% @quests.each do |quest|%>
      <li class="quest-list">
        <div class="quest-list-block">
          <%= link_to(quest.title, "/question/#{quest.id}", {class: "textbutton quest-list-title"}) %>
          <p class="quest-list-caption"><%= quest.caption %></p>
        </div>
        <div class="quest-list-creater">
          <img src="<%= "/user_images/#{quest.user.image_name}" %>" class="creater-icon">
          <%= link_to(quest.user.name, "/users/#{quest.user.id}", {class: "creater-name"}) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>