<div class="wrapper">
  <h1>マイクエスト</h1>

  <!-- モーダルを開くボタン -->
  <button class="js-open simplebutton">クエストを作る</button>

  <!-- オーバーレイ -->
  <div id="overlay" class="overlay"></div>
  <!-- モーダルウィンドウ -->
  <div class="modal-window">
    <%= form_tag("/question/create") do %>
      <div class="form">
        <h2>クエスト名</h2>
        <textarea name="title"></textarea>
        <h2>説明文</h2>
        <textarea name="caption"></textarea>
        <div class="form-buttons">
            <a class="js-close simplebutton">Close</a>
            <input type="submit" value="作成" class="simplebutton">
        </div>
      </div>
    <% end %>
  </div>

  <ul>
    <% @quests.each do |quest|%>
    <li><%= link_to(quest.title, "/question/#{quest.id}", {class: "textbutton"}) %></li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(function () {
    $('.js-open').click(function () {
      $('#overlay, .modal-window').fadeIn();
    });

    $('.js-close, #overlay').click(function () {
      $('#overlay, .modal-window').fadeOut();
    });
  });
</script>