/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
  padding-top: 80px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}

.header-content {
  margin: 0 auto;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  line-height: 60px;
  padding-left: 80px;
  font-size: 40px;
  font-weight: bold;
}

.header-list {
  line-height: 60px;
  padding-right: 80px;
  font-size: 20px;
  padding-top: 20px;
}

.header-list li {
  float: left;
  padding-right: 20px;
  text-decoration: none;
}

.header-list li:hover {
  opacity: 0.7;
}

.simple-list {
  text-align: left;
  list-style: none;
}

.simple-list li {
  margin-bottom: 10px;
  padding: 0.5em 1em;
  background: white;
  border-left: solid 5px black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  font-size: 17px;
}

.user-list{
  display: flex;
  padding: 10px;
}

.list-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name {
  margin: 20px 30px 10px;
  font-size: 20px;
}

.icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.textbutton {
  color: rgb(100, 100, 100);
  text-decoration: none;
  cursor : pointer;
}

.textbutton:hover {
  opacity: 0.7;
}

.simplebutton {
  margin: 10px;
  padding: 5px 15px;
  color: black;
  text-decoration: none;
  border: 3px solid #000;
  font-size: 20px;
  border-radius: 0;
  background: #fff;
  transition: 0.5s;
  cursor : pointer;
}

.simplebutton:hover {
  color: #fff;
  background: #000;
}

.dangerbutton {
  margin: 10px;
  padding: 5px 15px;
  color: black;
  text-decoration: none;
  border: 3px solid #000;
  font-size: 20px;
  border-radius: 0;
  background: #fff;
  transition: 0.5s;
  cursor : pointer;
}

.dangerbutton:hover {
  color: #fff;
  background: rgb(130, 0, 0);
}

.form {
  margin-top: 20px;
  text-align: left;
}

textarea {
  resize: vertical;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}

.form-item{
  margin: 10px 0;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.success-message {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background-color: rgb(0, 140, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
}

.error-message {
  width: 50vw;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background-color: rgb(255, 75, 75);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
}

/* オーバーレイ */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 11;
  padding: 20px;
}