// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#map {
  width: 100%;
  height: 400px;
}

.creater-box {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.creater-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.creater-name {
  margin: 5px;
  font-size: 20px;
}

.creater-name:hover {
  opacity: 0.7;
}