// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cross_wrap {
  position: relative;
}

#map {
  width: 100%;
  height: 400px;
}

.cross{
  position:absolute;
  z-index: 9999;
  width:100%;height:400px; /*マップと同じサイズにする*/
  top:0;left:0;
  background-image: url("target.png");
  background-position: center; 
  background-repeat: no-repeat;
  pointer-events:none;
}